.item-card {
    width: 233px;
    height: 377px;
    background: tomato;
    display: grid;
    grid-template-rows: 144px 233px;
}
.img-container {
    grid-row: 1 / 2;
}
.info-container {
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 89px 55px 89px;
}
.info-container h2 {
    grid-row: 1 / 2;
}
.info-container h3 {
    grid-row: 2 / 3;
}
.ic-container {
    overflow-y: hidden;
    grid-row: 3 / 4;
    background: green;
}