#count-container {
    width: 100%;
    height: auto;
    background-color: aquamarine;
    position: relative;
    bottom: 0;
}
#count-container div {
    padding: 4.5%;
}

p {
    margin: 4%;
}
button {
    margin-bottom: 4%;
    background: transparent;
}

.disabled {
    cursor: not-allowed;
}